#header {
    background: #333333;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}



div.list-group > a {
    color: grey; 
}

div.form-inline{
    margin: 10px 0px;
}

.fiveDayForecastHeader {
    margin: 10px 0px;
}

div.card.bg-primary{
    color: white;
}

#uvIndexColor {
    padding: 4px;
    color: white;
}

.uvIndexColor-extreme{
    background-color: #9a14b9 ;
}

.uvIndexColor-very-high{
    background-color: #d00606;
}

.uvIndexColor-high{
    background-color: #d6580b;
}

.uvIndexColor-moderate{
    background-color: #f1bf00;
}

.uvIndexColor-low{
    background-color: #1cc51c
}

.capitalize {
    text-transform: capitalize;   
}