#header {
    background: #333333;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

div.list-group > a {
    color: grey; 
}

div.form-inline{
    margin: 10px 0px;
}

.fiveDayForecastHeader {
    margin: 10px 0px;
}

div.card.bg-primary{
    color: white;
}

.uvIndexColor-bad{
    background-color: red;
}

.uvIndexColor-med{
    background-color: #e08e14;
}

.uvIndexColor-good{
    background-color: #1cc51c
}

.capitalize {
    text-transform: capitalize;   
}